@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
}

.website__padding{
    padding: 32px;
}

a{
    text-decoration: none;
    position: relative;
}

html{
    scroll-behavior: smooth;
}

/* 

NAV

*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__img{
    width: 40px;
}

.nav__figure--wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
}

.nav__treact-text{
    font-size: 24px;
    font-weight: 900;
    padding-left: 12px;
    letter-spacing: 0.03em;
}

/*links*/

.nav__link{
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.025em;
    margin: 0px 16px;
}

.nav__link--login{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.025em;
    margin-left: 36px;
    margin-right: 16px;
}

.nav__link--button{
    text-decoration: none;
    color: white;
    background-color: #6415ff;
    border-radius: 16px;
    padding: 8px 24px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.025em;
}

.nav__link--button:hover{
    text-decoration: none;
    color: white;
    background-color: #4f1eb4;
    border-radius: 16px;
    padding: 8px 24px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.025em;
}

.nav__link:hover{
    color: #6415ff;
}

.nav__link--login:hover{
    color: #6415ff;
}

.nav__hover-effect:after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -3px;
    right: 0;
    left: 0;
    background-color: transparent;
    transition: background-color 300ms ease;
}

.nav__hover-effect:hover:after{
   background-color: #6415ff;
}

/* 

START PAGE 

*/

.start__row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 96px 0px;
}

.start__leftwrapper{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.start__img--wrapper{
    width: 50%;
}

.start__img{
    width: 100%;

}

.start__title{
    font-size: 48px;
}

.purple{
    color: #6415ff;
}

.start__paraone{
    font-size: 18px;
    margin-top: 36px;
    word-spacing: 0.05em;
}

.start__paratwo{
    font-size: 18px;
    word-spacing: 0.05em;
    margin-bottom: 36px;
}

.start__email{
    border: 2px solid lightgray;
    border-radius: 48px;
    display: flex;
    justify-content: space-between;
    width: 440px;
}

.start__email:hover{
    border: 2px solid rgb(163, 159, 159);
    border-radius: 48px;
    display: flex;
    justify-content: space-between;
    width: 440px;
}

.start__btn{
    border: none;
    background-color: #6415ff;
    color: white;
    border-radius: 48px;
    margin: 4px;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 28px;
    cursor: pointer;
    position: relative;
}

.start__btn:hover{
    background-color: #4f1eb1;
    transition: all 300ms ease-in-out;
}

.start__input--wrapper{
    outline: none;
    border: none;
    padding-left: 24px;
    border-radius: 48px;
    font-size: 16px;
    font-weight: 500;
}

.start__customerstext{
    margin: 64px 0px 16px 0px;
    font-size: 14px;
    font-weight: 700;
    color: #a0aec0;
}

.start__customersimg{
    width: 100%;
    max-width: 380px;
}

/* 

FEATURES

*/

.container{
    padding: 80px 0px;
}

.features__row{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.features__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.features__title{
    font-size: 16px;
    letter-spacing: 1.6px;
}

.features__subtitle{
    font-size: 48px;
    font-weight: 800;
    padding: 26px 0px;
}

.features__para{
    max-width: 520px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #7c8Ba1;
    word-spacing: 0.025em;
    letter-spacing: 0.015em;
}

/* SERVICES */

.services{
    display: flex;
    flex-wrap: wrap;
    padding-top: 48px;
    justify-content: space-between;
}

.service{
    display: flex;
    width: calc(30%);
    margin-bottom: 24px;
    padding: 32px 8px;
}

@media (max-width: 537px) {
    .services{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .service__titlec{
        font-size: 14px;
    }
    
    .service{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .service__description{
        width: 100px
    }

    .service__title{
        font-size: 20px;
        margin-bottom: 8px;
    }

    .service__para{
        font-size: 16px;
    }

    .service__img--wrapper{
        margin-left: 8px;
    }
}

.service__description{
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.service__title{
    letter-spacing: 0.025em;
    margin-bottom: 12px;
}

.service__titlec{
    letter-spacing: 0.025em;
    margin-bottom: 12px;
}

.service__para{
    margin-top: 4px;
    color: #7c8Ba1;
    font-weight: 500;
    line-height: 2;
}

.service__img{
    position: relative;
    margin-top: 16px;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 9999px;
    padding: 16px;
}

/*

QUALITY

*/

#quality .row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 96px 0px;
}

.quality__description--wrapper{
    width: 45%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 24px;
}

.quality__subtitle{
    font-size: 16px;
    letter-spacing: 1.6px;
    color: #6415ff;
    margin-bottom: 16px;
}

.quality__title{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
    max-width: 600px;
    letter-spacing: 1.2px;
}

.quality__para{
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 500;
    color: #7c8Ba1;
    max-width: 540px;
    margin-bottom: 24px;
}

.quality__btn{
    text-decoration: none;
    color: white;
    background-color: #6415ff;
    border-radius: 24px;
    padding: 12px 26px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.025em;
    border: none;
    width: 132px;
    margin-top: 6px;
    cursor: pointer;
    transition: all 200ms ease;
}

.quality__btn:hover{
    background-color: #4f1eb1;
}

.quality__img--wrapper{
    width: 45%;
    display: flex;
    align-items: center;
}

.quality__img{
    max-width: 100%;
    height: auto;
    border: 1px solid #f0f4fa;
    border-radius: 2px;
    display: block;
    vertical-align: bottom;
}

/*

EASY

*/

#easy .row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    padding: 96px 0px;
}

.easy__img--wrapper{
    width: 50%;
}

.easy__img{
    width: 100%;
    margin-top: 48px;
}

.easy__steps--wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

.easy__steps{
    display: flex;
    margin-bottom: 36px;
}

.easy__step{
    display: flex;
    flex-direction: column;
}

.easy__number1{
    color: #cfdae9;
    font-size: 33px;
    font-weight: 400px;
    padding-right: 24px;
}

.easy__number2{
    color: #cfdae9;
    font-size: 33px;
    font-weight: 400px;
    padding-right: 18px;
}

.easy__step--title{
    font-weight: 400px;
    font-size: 20px;
    padding-bottom: 12px;
}

.easy__step--para{
    font-size: 14px;
    max-width: 300px;
    color: #7c8Ba1;
    font-weight: 500;
    line-height: 28px;
}

.easy__steps--box{
    margin-top: 20px;
}

/* 

VALUES 

*/

#values .row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    padding: 96px 0px;
}

.values__description--wrapper{
    width: 50%;
}

.values__para{
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 500;
    color: #7c8Ba1;
    max-width: 540px;
    margin: 30px 0px 30px 0px;
}

.values__descriptions{
    display: flex;
    width: 100%;
    max-width: 450px;
}

.values__description--box{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 30px;
}

.values__description--box1{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.values__description-title{
    display: flex;
}


.values__img--wrapper{
    width: 50%;
}

.values__img{
    width: 100%;
    padding: 36px 0px;
}

.values__description-para{
    font-size: 16px;
    color: #718096;
    font-weight: 300;
    padding-top: 16px;
    width: 100%;
    max-width: 300px;
    padding-right: 24px;
    line-height: 1.5em;
    word-spacing: 0.025px;
}

.values__btn{
    text-decoration: none;
    color: white;
    background-color: #6415ff;
    border-radius: 24px;
    padding: 12px 26px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.025em;
    border: none;
    width: 132px;
    margin-top: 40px;
    cursor: pointer;
    transition: all 200ms ease;
}

.values__btn:hover{
    background-color: #4f1eb1;
}

.dollar{
    background-color: #9ae6b4;
    border-radius: 9999px;
    padding: 8px;
}

.values__bd--wrapper2{
    background-color: #FEB2b2;
    border-radius: 9999px;
    padding: 8px;   
    height: 40px;
}

.values__text{
    font-size: 20px;
    padding: 8px 0px 0px 8px;
}

/*

PRICING

*/

#pricing .row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 96px 0px;
}

.pricing__threeplans--wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__subtitle{
    font-size: 16px;
    letter-spacing: 1.6px;
    color: #6415ff;
    margin-bottom: 24px;
}

.pricing__title{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
    letter-spacing: 1.2px;
    text-align: center;
}

.pricing__para{
    font-size: 18px;
    color: #7c8Ba1;
    width: 45%;
    text-align: center;
    line-height: 1.6em;
    margin-left: auto;
    margin-right: auto;
}

/* PLANS */

.plans{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 64px;
}

.plan{
    width: calc(30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

ul{
    list-style-type: none;
}

.shading1{
    width: 100%;
    height: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: linear-gradient(115deg, rgb(56,178,172) 0%, rgb(129,230,217) 100%);
}

.shading2{
    width: 100%;
    height: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.personal{
    border-bottom: 2px solid #e5e8ec;
    border-left: 1px solid #f0f4fa;
    border-right: 1px solid #f0f4fa;
    width: 100%;
}

.personal__title{
    font-size: 20px;
    padding: 32px 0px 16px 0px;
}

.personal__price{
    font-size: 48px;
    padding-bottom: 16px;
}

.monthly{
    font-size: 16px;
    color: #a0aec0;
    letter-spacing: 1.6px;
    padding-bottom: 32px;
}

.ind__title{
    font-size: 20px;
    letter-spacing: 0.5px;
}

.ind{
    border-bottom: 2px solid #e5e8ec;
    border-left: 1px solid #f0f4fa;
    border-right: 1px solid #f0f4fa;
    width: 100%;
    padding: 32px;
}

.ind__list{
    font-size: 16px;
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
}

.buy__btng{
    color: white;
    border: none;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    font-size: 14px;
    font-weight: 700;
    padding: 16px 32px;
    width: 100%;
    max-width: 192px;
    border-radius: 9999px;
    cursor: pointer;
}

.buy__btng:hover{
    box-shadow: 0 8px 4px -4px rgba(219, 212, 212, 0.432);
    margin: 0px 0px 0px 4px;
}

.buy__btn--wrapper{
    padding: 32px;
    width: 100%;
    border-bottom: 1px solid #f0f4fa;
    border-left: 1px solid #f0f4fa;
    border-right: 1px solid #f0f4fa;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.buy__btno{
    color: white;
    border: none;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    font-size: 14px;
    font-weight: 700;
    padding: 16px 32px;
    width: 100%;
    max-width: 192px;
    border-radius: 9999px;
    cursor: pointer;
}

.buy__btno:hover{
    box-shadow: 0 8px 4px -4px rgba(219, 212, 212, 0.432);
    margin: 0px 0px 0px 4px;
}

.personal__title1{
    color: #f7fafc;
    font-size: 20px;
    padding: 40px 0px 16px 0px;
}

.personal__price1{
    color: #f7fafc;
    font-size: 48px;
    padding-bottom: 16px;
}

.monthly1{
    font-size: 16px;
    color: #f7fafc;
    letter-spacing: 1.6px;
    padding-bottom: 32px;
}

.ind__title1{
    font-size: 20px;
    letter-spacing: 0.5px;
    color: #f7fafc;
}

.ind1{
    border-bottom: 2px solid #70aaf7;
    width: 100%;
    padding: 32px;
}

.ind__list1{
    font-size: 16px;
    margin-top: 20px;
    font-weight: 500;
    color: #f7fafc;
}

.buy__btn1{
    color: #6415ff;
    border: none;
    background: white;
    font-size: 14px;
    font-weight: 700;
    padding: 16px 32px;
    width: 100%;
    max-width: 192px;
    border-radius: 9999px;
    cursor: pointer;
}

.buy__btn1:hover{
    box-shadow: 0 8px 4px -4px rgba(37, 37, 37, 0.171);
    margin: 0px 0px 0px 4px;
    background-color: rgb(244, 245, 247);
}

.plan__container{
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.personal1{
    border-bottom: 2px solid #70aaf7;
    width: 100%;
}

.buy__btn--wrapper1{
    padding: 32px;
    width: 100%;
}

/*

TESTIMONIAL

*/

#test .row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    padding: 96px 0px;
}

.test__img--wrapper{
    width: 50%;
}

.test__img{
    width: 100%;
    padding-top: 64px;
}

.test__wrap{
    width: 50%;
    padding-left: 64px;
}

.star{
    width: 17.5px;
    margin-right: 1.2px;
    margin-top: 36px;
}

.test__person{
    width: 80px;
    border-radius: 9999px;
}

.test__subtitle{
    font-size: 16px;
    letter-spacing: 1.6px;
    color: #6415ff;
}

.test__title{
    font-size: 48px;
    font-weight: 800;
    max-width: 600px;
    letter-spacing: 1.2px;
    margin-top: 16px;
}

.test__para{
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 500;
    color: #7c8Ba1;
    max-width: 540px;
    margin-top: 24px;
}

.test__star-title{
    font-size: 20px;
    margin-top: 16px;
}

.test__star-para{
    color: #4a5568;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625em;
    margin: 16px 0px 40px 0px;
}

.test__person--wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.test__arrows--wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.test__left{
    display: flex;
    align-items: center;
}

.name--wrapper{
    margin-left: 20px;
}

.name{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.35px;
}

.desc{
    color: #7c8Ba1;
}

.arrows{
    padding: 16px;
    background-color: #edf2f7;
    border-radius: 9999px;
    margin: 0px 12px;
    cursor: pointer;
}

.arrows:hover{
    background-color: #d2d7db;
}

.arrows1:hover{
    background-color: #d2d7db;
}


.arrows1{
    padding: 16px;
    background-color: #edf2f7;
    border-radius: 9999px;
    margin: 0px 12px;
    box-sizing: border-box;
    cursor: pointer;
}

.arrows__border{
    border: 1px #edf2f7 solid;
    height: 30px;
}

/*

DEV



#dev .container{ 
    margin: 0px 85px;
}

#dev .row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6415ff;
    max-height: 282px;
    height: 100%;
    padding: 96px 0px;
    border-radius: 8px;
    overflow: hidden;
}

.dev__title--wrapper{
    width: 100%;
    border: 2px white solid;
    margin-left: 128px;
}

.dev__title{
    color: white;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    height: 220px;
    border: 2px white solid;
    display: flex;
    align-items: center;

}

.dev__buttons{
    margin-right: 128px;
    margin-left: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 2px white solid;
}

.dbuttono{
    border: none;
    color: #fff;
    background-color: #f56565;
    margin-right: 30px;
    padding: 20px 40px;
    border-radius: 9999px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    transition: all 300ms ease;
}

.dbuttono:hover{
   background-color: #e73e3e;
}

.dbuttonp{
    border: 1px solid #f7fafc;
    color: #fff;
    background-color: #6415ff;
    padding: 20px 40px;
    border-radius: 9999px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    transition: all 300ms ease;
}

.dbuttonp:hover{
    background-color: #fff;
    color: #6415ff;
}

*/

/*

FOOTER

*/

#footer{
    background-color: #6415ff;
}

/*
.footer__row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #6415ff;
    padding-top: 90px;
    padding-bottom: 90px;

}

.links{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-right: -176px;
    margin-bottom: 60px;
    border: 2px solid black;
    width: 100%;
}

.link{
    display: flex;
    flex-direction: column;
    width: calc(100% / 5);
    align-items: center;
    text-align: left;
}
*/

.link__title{
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}


.link__link{
    color: white;
    font-size: 14px;
    margin-top: 12px;
    padding-bottom: 4px;
    font-weight: 500;
    cursor: pointer;
}

.footer__treact-text{
    color: white;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 1.2px;
    padding-left: 6px;
}

.footer__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: -40px;
}

.footer__img{
    width: 30px;
}

.footer_logos{
    margin-right: 30px;
}

.flogo1,
.flogo2,
.flogo3{
    width: 30px;
    background: white;
    border-radius: 9999px;
    padding: 8px;
    margin-right: 12px;
    cursor: pointer;
}

.footer__figure--wrapper{
    display: flex;
    align-items: center;
}

.copyright{
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-align: center;
}

.footer__line{
    border: 0.2px solid rgba(230, 227, 227, 0.432);
    margin-bottom: 60px;
    width: 100%;
}

.link__hover-effect{
    color: white;
}

.link__hover-effect:after{
    content: "";
    position: absolute;
    height: 2px;
    background-color: transparent;
    width: 100%;
    bottom: -3px;
    left: 0;
}

.link__hover-effect:hover:after{
    background-color: #fff;
}

/* Small phones, tablets and large smartphones */

@media (max-width: 768px) {

    .test__arrows--wrapper{
        display: flex;
        align-items: center;
        margin-left: 50px;
    }

    .test__para{
        font-size: 16px;
    }

    .test__star-para{
        font-size: 14px;
    }

    .pricing__para{
        width: 100%;
        max-width: 500px;
    }
    
    h1{
        font-size: 28px;
    }

    .nav__link{
        display: none;
    }

    .nav__link--login{
        display: none;
    }

    .nav__link--button{
        display: none;
    }

    .btn__menu{
        display: block;
    }

    #quality .row{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .quality__description--wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 450px;
    }

    .quality__title{
        font-size: 36px;
    }

    .quality__img--wrapper{
        width: 75%;
        max-width: 400px;
    }

    #easy .row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .easy__img--wrapper{
        max-width: 400px;
        width: 75%;
        margin-bottom: 36px;
    }

    .easy__steps--wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 600px;
        padding-right: 64px;
    }

    .easy__steps--box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .easy__steps{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .easy__number1{
        padding-left: 24px;
        margin-bottom: 4px;
        text-align: center;
        font-size: 40px;
    }

    .easy__number2{
        padding-left: 24px;
        margin-bottom: 4px;
        text-align: center;
        font-size: 40px;
    }

    .easy__step--title{
        text-align: center;
    }

    #test .row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .test__wrap{
        padding: 0px;
    }

    .test__img--wrapper{
        width: 100%;
        max-width: 400px;
        margin-bottom: 36px;
    }

    .test__wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .test__description--wrapper{
        align-items: center;
        text-align: center;
        width: 350px;
    }

    .test__title{
        width: 350px;
    }

    .test__star--wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;
    }

    .test__user--wrapper{
        text-align: center;
        width: 350px;
    }
}

/* Burger Menu */

.btn__menu{
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #6415ff;
    cursor: pointer;
    display: none;
}

.menu__backdrop{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    height: 500px;
    margin: 24px 24px 0px 24px;
    border: 1px solid #e0dcdc;
    border-radius: 4px
}

.menu--open .menu__backdrop{
    display: flex;
}

.btn__menu--close{
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: #6415ff;
    cursor: pointer;
}

.menu__links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link{
    color: black;
    font-weight: 600;
    font-size: 20px;
}

.menu__link1{
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin-top: 16px;
}

.menu__list{
    padding: 16px 0px;
}

@media (max-width: 1024px) {
    .btn__menu{
        display: block;
    }

    .nav__link{
        display: none;
    }

    .nav__link--login{
        display: none;
    }

    .nav__link--button{
        display: none;
    }

    .start__row{
        display: flex;
        flex-direction: column;
    }

    .start__title{
        font-size: 30px;
    }

    .start__img{
        width: 400px;
    }

    .start__paraone{
        font-size: 16px;
    }

    .start__leftwrapper{
        width: 400px;
    }

    .start__customers{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .start__customerstext{
        font-size: 14px;
    }

    .start__lefttext{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1024px;
        text-align: center;
    }

    .start__email{
        max-width: 100%;
        width: px;
        height: 60px;
    }

    .start__btn{
        font-size: 14px;
    }

    .start__customers{
        margin-bottom: 48px;
    }

    .services{
        display: flex;
        flex-wrap: wrap;
    }

    .service{
        width: calc(43%);
    }

    .features__para{
        font-size: 16px;
    }

    #values .row{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .values__description--wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .values__descriptions{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0px 0px;
        width: 600px;
    }

    .values__description-para{
        padding: 0px 0px;
    }

    .values__description--box{
        margin: 0px 0px 24px 0px;
        max-width: 450px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .values__description--box1{
        max-width: 500px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .values__para{
        font-size: 16px;
    }

    .values__wrapper{
        width: 450px;
        margin-bottom: 8px;
    }

    .values__description-title{
        margin-bottom: 8px;
    }

    .values__description-para{
        width: 100%;
        max-width: 350px;
        margin-top: 8px;
    }

    .plans{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .shading2{
        margin-top: 16px;
    }

    .buy__btn--wrapper{
        margin-bottom: 16px;
    }

    .plan{
        width: 50%;
    }
}


@media (max-width: 1050px) {
    .start__img{
        width: 100%;
    }
}

@media (max-width: 450px) {
    .plan{
        width: 200px;
    }
}

@media (max-width: 865px) {
    .test__person--wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .test__arrows--wrapper{
        margin-top: 24px;
    }

    .arrows{
        margin-left: 0px;
    }
}

@media (max-width: 1071px) {
    .dev__title{
        font-size: 26px;
        line-height: 1.5em;
        width: 100%;
        max-width: 300px;
    }
}

@media (max-width: 911px) {
    #dev .row{
        display: flex;
        flex-direction: column;
    }
}

/*

DEV attempt 2

*/

.dbuttono{
    border: none;
    color: #fff;
    background-color: #f56565;
    margin-right: 30px;
    padding: 20px 40px;
    border-radius: 9999px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    transition: all 300ms ease;
}

.dbuttono:hover{
   background-color: #e73e3e;
}

.dbuttonp{
    border: 1px solid #f7fafc;
    color: #fff;
    background-color: #6415ff;
    padding: 20px 40px;
    border-radius: 9999px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    transition: all 300ms ease;
}

.dbuttonp:hover{
    background-color: #fff;
    color: #6415ff;
}

.dev__row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #6415ff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 32px 132px;
    height: 282px;
    border-radius: 8px;
}

.dev__title--wrapper{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dev__title{
    color: white;
    font-size: 30px;
}

.dev__buttons{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px) {
    .dev__row{
        display: flex;
        flex-direction: column;
    }

    .dev__title--wrapper{
        width: 100%;
        text-align: center;
    }

    .dev__title{
        font-size: 26px;
    }

    .dev__buttons{
        width: 100%;
        margin-top: 16px;
    }

    .links{
        padding: 0 16px;
    }

    .footer__info{
        padding: 0 16px;
    }
}

@media (max-width: 768px) {
    .dev__title{
        font-size: 20px;
    }

    .link{
        width: calc(100% / 3);
    }

    .footer__info{
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }

    .footer__figure--wrapper{
        margin-bottom: 24px;
    }

    .copyright{
        margin-bottom: 24px;
    }

    .footer_logos{
        margin: 0px;
    }
}

@media (max-width: 563px){
    .dev__title--wrapper{
        width: 300px;
    }
}

@media (max-width: 418px){
    .dev__buttons{
        display: flex;
        flex-direction: column;
    }

    .dbuttono{
        margin: 0px;
    }

    .dbuttonp{
        margin-top: 8px;
    }

    .dev__title{
        font-size: 16px;
        width: 200px;
        text-align: center;
    }

}

/* footer attempt 2*/

.footer__row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 90px 0px;
}

.links{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 36px;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 5);
}

@media (max-width: 768px) {
    .link{
        width: calc(100% / 3);
        text-align: center;
        margin-top: 36px;
    }
}

@media (max-width: 417px){
    .link{
        width: calc(100%);
    }
}

@media (max-width:537px){
    .values__wrapper{
        max-width: 350px;
        text-align: center;
    }

    .values__para{
        width: 300px;
        margin-left: 30px;
    }

    .quality__title{
        width: 300px;
        margin-left: 26px;
    }

    .quality__para{
        width: 300px;
    }
}

@media (max-width:428px) {
    .start__leftwrapper{
        max-width: 300px;
    }

    .start__btn{
        transform: translateX(-24px);
        padding: 16px;
        font-size: 8px;
        text-align: center;

    }

    .values__description-para{
        width: 300px;
    }

    .test__star-para{
        width: 300px;
        margin-left: 30px;
    }
}

@media (max-width:400px){
    .menu__backdrop{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        margin: 0;
        border: none;
        height: 100%;
    }
}

@media (max-width:500px) {
    .test__arrows--wrapper{
        display: flex;
        align-items: center;
        margin-right: 50px;
    }
}

@media (max-width:400px) {
    .test__arrows--wrapper{
        margin-left: 60px;
    }
}